{
  "templateName": "{{ template_name }}",
  "templateDescription": "{{ template_description }}",
  "deviceType": "{{ device_type }}",
  "deviceRole": "{{ device_role }}",
  "configType": "{{ config_type }}",
  "factoryDefault": false,
  "policyId": "{{ policy_id }}",
  "featureTemplateUidRange": [],
  "connectionPreferenceRequired": {{ connection_preference_required }},
  "connectionPreference": {{ connection_preference }},
  "generalTemplates": [
        {% for template in general_templates %}
			{{ template | tojson }}
		{% if not loop.last %},{% endif %}
		{% endfor %}
  ],
  "securityPolicyId": "{{ security_policy_id }}"
}