name: Static code analyzer

on:
  pull_request:

permissions: read-all

jobs:
  analyze_code:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']
    defaults:
      run:
        shell: sh

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Python
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set Up Poetry
        uses: abatilo/actions-poetry@e78f54a89cb052fff327414dd9ff010b5d2b4dbd # v3.0.1
        with:
          poetry-version: 1.3.1
      - name: Install dependencies
        run: |
          poetry install --sync -v
          mkdir .mypy_cache
      - name: Checking if imports are sorted correctly
        run: poetry run isort --check --diff -l 120 --profile black catalystwan
      - name: Check static-typing
        run: poetry run mypy --show-error-codes --show-error-context --pretty --install-types --non-interactive catalystwan --cache-dir=.mypy_cache/
      - name: Check code style
        run: poetry run flake8 catalystwan
