name: Publish to PyPi


on:
  push:
    tags:
      - '*.*.*'

permissions: read-all

jobs:
  publish_release:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Python
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: 3.8
      - name: Set Up Poetry
        uses: abatilo/actions-poetry@e78f54a89cb052fff327414dd9ff010b5d2b4dbd # v3.0.1
        with:
          poetry-version: 1.3.1
      - name: Publish catalystwan
        run: |
          poetry config pypi-token.pypi ${{ secrets.CATALYSTWAN_PYPI_TOKEN }}
          poetry publish --build
